.div-rank-board {
  width: 100%;
  height: 100%;
  position: relative;
}

.table-rank-board {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  top: 10%;
}

#search-rank-board {
  color: white;
  background-color: #fbbd08;
  border: 1px solid #fbbd08;
}