#form-button {
  background-color: #db2828 !important;
  color: white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: white !important;
  margin: 20px 0 !important;
}

.label-email{
    font-weight: normal !important;
}
