.pad-top-150 {
  padding-top: 150px;
  background-color: #edeaea;
}

.div-role-detail {
  background-color: white;
  border: 1px solid;
  border-color: #d4d4d5;
  border-radius: 7px;
  padding: 30px !important ;
  margin-bottom: 20px;
}

.label-access-screen {
  margin-top: 15px;
  font-weight: 700;
}

.btn-save-role {
  background-color: #db2828 !important;
  color: white !important;
}
.list-role {
  font-weight: 700;
}

.div-group-field {
  width: 100%;
  padding: 0;
  margin: 0 4px !important;
}

.div-group-field > label {
  font-weight: normal !important;
  padding-top: 8px;
}

.div-group {
  margin: 0 !important;
}

.td-cell {
  padding: 3px !important;
}

.btn-remove {
  margin: 0 5px;
}

.div-form-field {
  width: 100%;
}

.div-form-field label {
  padding: 2px 0;
}

.div-form-control {
  width: 100%;
  margin: 0 !important;
}

.div-select {
  height: 39px;
}

#btn-add-form-field {
  height: 39px;
  padding: 5px;
  min-width: 100px;
}

.div-role-table {
  margin: 20px 0;
}
.div-role{
  height: 100%;
}
