body,
html {
  height: 100%;
  margin: 0;
}
#root,
#root > div {
  height: 100%;
}
.div-login {
  position: relative;
  background-color: #fbbd08;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.login-container {
  background: white;
  border: 0px;
  border-radius: 7px;
  width: 25%;
  padding: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
}

.form-normal {
  text-align: center;
  width: 100%;
}

.form-normal label {
  float: left;
  padding: 5px 0;
  color: black !important;
  font-weight: normal !important;
}
.form-normal button.form-button {
  text-align: center;
  width: max-content;
  background-color: #fbbd08;
  color: white;
  margin: 20px 0 0 0;
}

.div-forgot-password {
  margin: 10px 0;
}
.new-account {
  background: white;
  border: 0px;
  border-radius: 7px;
  width: 17%;
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 62%;
}
.div-forgot-password a,
.div-new-account a {
  font-size: 13px;
  color: #fbbd08;
}
.div-forgot-password span,
.div-new-account span {
  padding: 0 5px;
}
#new-account {
  margin-bottom: 0;
}

.div-field{
  position: relative;
  margin-bottom: 30px !important;
}
.div-logo img {
  width: 100% !important;
  padding-bottom: 20px;
  margin: 0;
}

.validation {
  display: block;
  position: absolute;
  left: 0%;
  margin: 5px 0;
  font-weight: 500;
  font-size: 13px;
  color: red;
}
