body,
html {
  height: 100%;
  margin: 0;
}
#root,
#root > div {
  height: 100%;
}
.div-login {
  position: relative;
  background-image: url("/images/sign-up-background.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.login-container {
  background: white;
  border: 0px;
  border-radius: 7px;
  width: 17%;
  padding: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
  
}

#button-login{
  width: 100%;
}
 .new-account{
  background: white;
  border: 0px;
  border-radius: 7px;
  width: 17%;
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:62%;
  
} 
#forgot-password{
  float: right;
  font-size: 13px;
  text-decoration: none;
}
#new-account{
  margin-bottom: 0;
}
#label > label{
  color: rgba(0,0,0,.87);
  font-size: .92857143em;
  font-weight: 700;
}
