.pad-top-150{
    padding-top: 150px!important;
    background-color: #edeaea;
}
.div-video{
    border: solid 1px #d4d4d5;
    border-radius: 7px;
    padding: 30px!important;
    background-color: white;
    min-height: 500px;
}
.div-video-check{
    padding: 30px!important;
    min-height: 370px;
}
.card-group{
    justify-content: center!important;
}
.ui.card>.content>.header, .ui.cards>.card>.content>.header{
    display: contents!important;
}
.video-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.video-check-grid{
    width: fit-content!important;
    margin: 0 auto!important;
    border: 1px solid;
    background-color: #fff;
    padding: 10px!important;
    border-radius: 7px;
}